 <div class="user-details">
  <h1> My Expertise </h1>
  <p style="font-size:130%;"> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <p style="font-size:25%;"><I></I>I have a good experience working on projects that use Python or C/C++. Moreover I also have a little experience in using Bash, Octave and Html.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-ubuntu-plain colored"></i>
      <i class="devicon-github-plain colored"></i>
      <p style="font-size:25%;">To collaborate in projects and contribute to Open Source Projects I am well versed with using development tools like Git and GitHub.</p>
    </div>
</div>
