<div id="particles-js">
  <div class="header">
      <img src="photo.jpg" class="user-image" alt="My Profile Photo" width=130px height=138px >
      <h7>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h7>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:f20170008@goa.bits-pilani.ac.in" title="Email: f20170008@goa.bits-pilani.ac.in"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Linkedin Account" target="_blank" href="https://www.linkedin.com/in/aggarwalvinayak/" title='aggarwalvinayak on Linkedin'><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/aggarwalvinayak"><i class="icon fa fa-github-alt" title="aggarwalvinayak on GitHub" aria-hidden="true"></i></a>
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/aggarwalvinayak"><i class="icon fa fa-facebook" title="aggarwalvinayak on Facebook" aria-hidden="true"></i></a>
        <a aria-label="My Resume" target="_blank" href="../Resume.pdf"><i class="icon fa fa-download" title="Download Resume" download="Vinayak_Resume.pdf" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="project-link" href="https://aggarwalvinayak.github.io">Blog</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
