<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="spam_cls" width=1000 height=5000 src="{{ "../spam_classifier.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Spam Email Classifier </h3>
    <ul>
      <li> Python</li>
      <li> Machine Learning</li>
      <li> NLP</li>
      <li> iPython Notebook</li>
    </ul>
    <p>Created a Email Spam Classifier using Machine Learning. It uses a SVM-Linear Model and NLP and can be used for all kinds of emails.</p>
    <a class="project-link" href="https://github.com/aggarwalvinayak/Machine-Learning-Assignment/tree/master/svm_spam">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="space_inv" width=400 height=400 src="{{ "../space_invader.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Space Invaders </h3>
    <ul>
      <li> Python</li>
      <li> Object Oriented Prog.</li>
      <li> Pygame</li>
    </ul>
    <p>Created a python implementation of popular Atari Arcade game Space-Invader using Pygame.</p>
    <a class="project-link" href="https://github.com/aggarwalvinayak/Space-Invaders">Check it out</a>
  </div>
</div>
